.idea/
.vscode/
.DS_Store

# Environments
venv/
env/
.venv
deploy/dev/.env
deploy/prod/.env
project/.env

__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage

# Django stuff:
*/db.sqlite3
*/staticfiles
**/logs
