.idea/
.vscode/
.DS_Store

# Environments
venv/
env/
.venv
deploy/*/.env
project/.env

__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage

# pytest
*/.pytest_cache

# Django stuff:
*/db.sqlite3
*/staticfiles
**/logs
