[MASTER]

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=.git, logs, setup_scripts, migrations


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=R0201,C0111,C0114,C0115,C0116,
        import-outside-toplevel,
        too-few-public-methods


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized

[DESIGN]
max-parents=15
