{% extends '__base.html' %}

{% block title %}About{% endblock %}


{% block content %}
    <h1>About page</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci corporis cum dolor eveniet fuga fugiat
        harum incidunt, inventore, nulla quam quas quidem repudiandae sequi sit, soluta temporibus tenetur
        voluptates!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, incidunt!</p>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis cum in minima tempora.
        Architecto assumenda beatae, dolore ea, enim error harum illo illum magni minima, minus natus nesciunt non
        officia perspiciatis porro quisquam rerum similique soluta totam vel velit voluptas voluptatum? Architecto
        ducimus, illum iure modi ullam veniam veritatis.</h3>
    <p>Links
       Links allow you to define extra aliases by which a service is reachable from another service. They are not
       required to enable services to communicate - by default, any service can reach any other service at that
       service’s name. In the following example, db is reachable from web at the hostnames db and database:</p>

    <pre>
       version: "3"
       services:

       web:
         build: .
         links:
           - "db:database"

       db:
         image: postgres
        </pre>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam aspernatur assumenda
       blanditiis consequatur consequuntur, cupiditate debitis eveniet excepturi exercitationem explicabo facilis fuga
       incidunt ipsa laborum officiis perferendis porro praesentium quae quis repellendus voluptatem voluptatibus?
       Atque, aut consequuntur enim eum excepturi, fugiat id in ipsa iste magnam possimus qui similique vitae! Adipisci
       atque autem et, impedit nisi omnis quod repellendus suscipit veniam. Aliquid amet animi assumenda cumque debitis
       dignissimos dolor ea error, explicabo facilis iusto molestiae neque obcaecati officiis optio reiciendis sunt
       temporibus ullam voluptatem voluptates. Animi dolorum in inventore laudantium nemo nesciunt, nisi placeat quia
       repellat saepe vel!</p>

{% endblock content %}
