{% extends '__base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h3>Hello, {{ user.email|default:'Guest' }}!</h3>

    <div>
        {% if user.is_authenticated %}
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            <p><a href="{% url 'password_change' %}">Change Password</a></p>
        {% else %}
            <p>You are not logged in</p>

            <p><a href="{% url 'login' %}">Log In</a></p>
            <p><a href="{% url 'accounts:signup' %}">Sign Up</a></p>
            <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        {% endif %}
    </div>

{% endblock %}