{% extends '__base.html' %}

{% block title %}Storehouse of useful links{% endblock %}


{% block content %}

    <main class="flex-shrink-0 text-start">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 offset6">
                    <ol class="list-group list-group-numbered list-group-flush">
                        <li class="list-group-item list-group-item-primary">
                            Block 1
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" class="link-primary">Primary link 1</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="link-primary">Primary link 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item list-group-item-secondary">
                            Block 2
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" class="link-secondary">secondary link 1</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="link-secondary">secondary link 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item list-group-item-success">A simple success list group item</li>
                        <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                        <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                        <li class="list-group-item list-group-item-info">A simple info list group item</li>
                        <li class="list-group-item list-group-item-light">A simple light list group item</li>
                        <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                    </ol>
                </div>

            </div>

        </div>
    </main>




{% endblock content %}
