{% extends '__base.html' %}
{% load static %}

{% block title %}My amazing blog{% endblock %}


{% block content %}

    <div class="col-md-8 offset-md-2">
        <h1>Blog Index</h1>
        <hr>

        <button class="btn btn-outline-light btn-sm">
            <a class="nav-link" href="{% url 'blog:post_new' %}">Add new post</a>
        </button>

        <hr>

        {% if messages %}
            <ul class="messages" style="background-color:#ccc;">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for post in posts %}
            <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>By {{ post.author }}</p>

            {{ post.created_at.date }} |&nbsp;
                                       Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'blog:post_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
            {% endfor %}
            <p>{{ post.content | slice:":100" }}...</p>
        {% empty %}
            <p>Sorry, no tweets were posted...</p>
        {% endfor %}

    </div>

    {% if is_paginated %}
        {% include "_pagination.html" %}
    {% endif %}

{% endblock %}