{% extends "__base.html" %}
{% load widget_tweaks %}

{% block content %}

  <main>
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Post Update #{{ post.id }}</h5>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}

                  {% if field.widget_type == 'checkbox' %}
                    {% render_field field %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}

                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}


              <div class="d-grid gap-2 d-md-block mt-4">
                <button type="submit"
                        class="btn btn-success">
                  Update
                </button>
                <a class="btn btn-outline-primary"
                   href="{% url 'blog:post-list' %}">
                  Back
                </a>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </main>





{% endblock %}
